# ============================== #
#         Unity generated        #
# ============================== #

# ================ #
# Roll-a-Ball      #
# ================ #
/Roll-a-Ball/[Tt]emp/
/Roll-a-Ball/[Oo]bj/
/Roll-a-Ball/[Bb]uild
/Roll-a-Ball/[Ll]ibrary/
/Roll-a-Ball/sysinfo.txt

# ================ #
# Shmup            #
# ================ #
/Shmup/[Tt]emp/
/Shmup/[Oo]bj/
/Shmup/[Bb]uild
/Shmup/[Ll]ibrary/
/Shmup/sysinfo.txt

# ================ #
# Survival-Shooter #
# ================ #
/Survival-Shooter/[Tt]emp/
/Survival-Shooter/[Oo]bj/
/Survival-Shooter/[Bb]uild
/Survival-Shooter/[Ll]ibrary/
/Survival-Shooter/sysinfo.txt


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

# ================ #
# Roll-a-Ball      #
# ================ #
/Roll-a-Ball/[Ee]xported[Oo]bj/
/Roll-a-Ball/*.userprefs
/Roll-a-Ball/*.csproj
/Roll-a-Ball/*.pidb
/Roll-a-Ball/*.suo
/Roll-a-Ball/*.sln*
/Roll-a-Ball/*.user
/Roll-a-Ball/*.unityproj
/Roll-a-Ball/*.booproj

# ================ #
# Shmup            #
# ================ #
/Shmup/[Ee]xported[Oo]bj/
/Shmup/*.userprefs
/Shmup/*.csproj
/Shmup/*.pidb
/Shmup/*.suo
/Shmup/*.sln*
/Shmup/*.user
/Shmup/*.unityproj
/Shmup/*.booproj

# ================ #
# Survival-Shooter #
# ================ #
/Survival-Shooter/[Ee]xported[Oo]bj/
/Survival-Shooter/*.userprefs
/Survival-Shooter/*.csproj
/Survival-Shooter/*.pidb
/Survival-Shooter/*.suo
/Survival-Shooter/*.sln*
/Survival-Shooter/*.user
/Survival-Shooter/*.unityproj
/Survival-Shooter/*.booproj


# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db